@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
    background-color: rgb(232, 232, 232);
    font-size: 150%;
    margin: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

html.dark body {
    background-color: rgb(20, 20, 20);
}

::-moz-selection,
::selection {
    background: #909090;
    color: rgb(50, 50, 50);
}

.stroked {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.wave {
    animation: wave 2s ease-in-out infinite;
    transform-origin: 70% 70%;
}
@keyframes wave {
    0%,
    15% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    45% {
        transform: rotate(15deg);
    }
    55% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(0deg);
    }
    65% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
